.github {
    font-size: 2rem;
    color: white;
    text-decoration: none;
}
.imporvementpack {
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

html {
    background-color: #2b2b2b;
}