body {
    margin: 0;
    padding: 0;
}
p {
    position: absolute;
    font-family: "Noto Sans KR Medium", serif;
    line-height: 50%;
}

/*top*/
.top {
    background-color: #cccccc;
    position: relative;
    width: 100%;
    height: 6rem;
}
div.top .footerLine {
    background-color: darkgray;
    position: relative;
    width: 100%;
    height: 0.25rem;
    top: 100%;
}
a.icon .image {
    position: relative;
    width: 100%;
}
div.top .icon {
    position: absolute;
    top: 9%;
    left: 0.5%;
    width: 4%;
}

/*center*/
.center {
    position: relative;
    top: 10%;

    font-size: 1rem;
}
.margin {
    margin: 5rem;
}

div.margin .title {
    width: 19.5rem;
    font-size: 2rem;
    color: white;
    text-align: center;
    background-color: #5E50BA;
    border: 0.5em solid #5E50BA;
    border-left: 0;
    border-right: 0;
    top: 0;
}
div.margin .icon {
    position: absolute;
    top: 7rem;
    width: 19rem;
    border: 0.25em solid #5E50BA;
    border-bottom: 0;
}
div.margin .birth {
    top: 25.25rem;
    width: 6rem;
    height: 1rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    border: 0.5em solid #5E50BA;
    background-color: #5E50BA;
}
div.margin .birthValue {
    top: 25.25rem;
    left: 12em;
    width: 12rem;
    height: 2rem;
    font-size: 1rem;
    text-align: center;
    line-height: 150%;
    border: 0.25em solid #cccccc;
    border-bottom: 0;
}
div.margin .color {
    top: 27.25rem;
    width: 6rem;
    height: 1rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    border: 0.5em solid #5E50BA;
    background-color: #5E50BA;
}
div.margin .colorValue {
    top: 27.25rem;
    left: 12em;
    width: 12rem;
    height: 2rem;
    font-size: 1rem;
    text-align: center;
    line-height: 150%;
    border: 0.25em solid #cccccc;
    border-bottom: 0;
}
div.margin .mcnickname {
    top: 29.25rem;
    width: 6rem;
    height: 2rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    border: 0.5em solid #5E50BA;
    background-color: #5E50BA;
    line-height: 70%;
}
div.margin .mcnicknameValue {
    top: 29.25rem;
    left: 12em;
    width: 12rem;
    height: 2.5rem;
    font-size: 1rem;
    text-align: center;
    line-height: 200%;
    border: 0.25em solid #cccccc;
    border-bottom: 0;
}
div.margin .discordname {
    top: 32rem;
    width: 6rem;
    height: 2rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    border: 0.5em solid #5E50BA;
    background-color: #5E50BA;
    line-height: 70%;
}
div.margin .discordnameValue {
    top: 32rem;
    left: 12em;
    width: 12rem;
    height: 2.5rem;
    font-size: 1rem;
    text-align: center;
    line-height: 200%;
    border: 0.25em solid #cccccc;
}



/*footer*/
.footer {
    background-color: #cccccc;
    position: relative;
    width: 100%;
    height: 6rem;
    top: 41.05rem;
}
div.footer .topLine {
    background-color: darkgray;
    height: 0.25rem;
}

a.github .image {
    position: relative;
    width: 100%;
}
div.footer .github {
    position: absolute;
    width: 2.5%;
    height: 50%;
    top: 0.5rem;
    left: 44.5%;
    cursor: pointer;
}

a.resourcepack .image {
    position: relative;
    width: 100%;
}
div.footer .resourcepack {
    position: absolute;
    width: 2.5%;
    height: 50%;
    top: 0.5rem;
    left: 47.5%;
    cursor: pointer;
}

a.youtube .image {
    position: relative;
    width: 100%;
}
div.footer .youtube {
    position: absolute;
    width: 2.5%;
    height: 50%;
    top: 0.5rem;
    left: 50.5%;
    cursor: pointer;
}

a.twitch .image {
    position: relative;
    width: 100%;
}
div.footer .twitch {
    position: absolute;
    width: 2.5%;
    height: 50%;
    top: 0.5rem;
    left: 53.5%;
    cursor: pointer;
}