body {
    margin: 0;
    font-family: "Noto Sans KR Medium", sans-serif;
    padding: 0;
}
p {
    position: absolute;
    line-height: 50%;
}

/*top*/
.top {
    background-color: #cccccc;
    position: relative;
    width: 100%;
    height: 6rem;
}
div.top .footerLine {
    background-color: darkgray;
    position: relative;
    width: 100%;
    height: 0.25rem;
    top: 100%;
}
a.icon .image {
    position: relative;
    width: 100%;
}
div.top .icon {
    position: absolute;
    top: 9%;
    left: 0.5%;
    width: 4%;
}

/*center*/
.center {
    position: relative;
    top: 10%;

    font-size: 1rem;
}
.margin {
    margin: 5rem;
}




/*footer*/
.footer {
    background-color: #cccccc;
    position: relative;
    width: 100%;
    height: 6rem;
    top: 0;
}
div.footer .topLine {
    background-color: darkgray;
    height: 0.25rem;
}


a.email .image {
    position: relative;
    width: 100%;
}
div.footer .email {
    position: absolute;
    width: 2.5%;
    height: 50%;
    top: 0.5rem;
    left: 41.5%;
    cursor: pointer;
}

a.github .image {
    position: relative;
    width: 100%;
}
div.footer .github {
    position: absolute;
    width: 2.5%;
    height: 50%;
    top: 0.5rem;
    left: 44.5%;
    cursor: pointer;
}

a.resourcepack .image {
    position: relative;
    width: 100%;
}
div.footer .resourcepack {
    position: absolute;
    width: 2.5%;
    height: 50%;
    top: 0.5rem;
    left: 47.5%;
    cursor: pointer;
}

a.youtube .image {
    position: relative;
    width: 100%;
}
div.footer .youtube {
    position: absolute;
    width: 2.5%;
    height: 50%;
    top: 0.5rem;
    left: 50.5%;
    cursor: pointer;
}

a.twitch .image {
    position: relative;
    width: 100%;
}
div.footer .twitch {
    position: absolute;
    width: 2.5%;
    height: 50%;
    top: 0.5rem;
    left: 53.5%;
    cursor: pointer;
}

a.discord .image {
    position: relative;
    width: 100%;
}
div.footer .discord {
    position: absolute;
    width: 2.5%;
    height: 50%;
    top: 0.5rem;
    left: 56.5%;
    cursor: pointer;
}